@import "../../src/scss/componets/*.scss";
body{
  background-color: #000;
  span{
    color: #ffffff;
  }
  background: url('@img/foto.png') 0 0 no-repeat;
}
@media(max-width:768px){
  span{
    color: #6c6c6c;
  }
}
